.b-club-activity-header {
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    margin-top: 10px !important;
}

.b-club-fans-header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 10px;
}

.b-club-gallery {
    background-color: white;
}