.b-club-activity-header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    padding-bottom: 5px;
}

.b-club-fans-header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 20px;
}

.b-club-gallery {
    background-color: white;
}