.b-club-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}
.b-club-left-container {
    width: 70%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-left: solid 1px lightgrey
}
.b-club-right-container {
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-right: solid 1px lightgrey
}
.b-club-app-divider {
    left: 70%;
    top: 0;
    height: 100%;
    position: absolute;
}