.grid {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 3em 0;
}
.grid-item {
    margin: 1em;
    border-radius: .2em;
    overflow: hidden;
    padding: 0;
    width: 300px;
    height: 200px;
}
.grid-image {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.gallery-container {
    width: 100%;
    margin: 10px;
}

.gallery-box 
{
    height: 500px;
    width: calc(100% - 20px);
}

.slide {
    z-index: 4;
}