<!-- <div class="grid">
  <button mat-raised-button class="grid-item" *ngFor="let item of imageItems; let i = index" (click)="lightbox.open(i)">
    <span class="grid-image" [style.backgroundImage]="'url('+ item.data.thumb +')'"></span>
  </button>
</div> -->
<div class="gallery-container">
  <mat-grid-list cols="2" rowHeight="fit">
    <mat-grid-tile>
      <span class="grid-image" [style.backgroundImage]="'url('+ data.thumb +')'"></span>
    </mat-grid-tile>
    <mat-grid-tile>
      <span class="grid-image" [style.backgroundImage]="'url('+ data.thumb +')'"></span>
    </mat-grid-tile>
    <mat-grid-tile>
      <span class="grid-image" [style.backgroundImage]="'url('+ data.thumb +')'"></span>
    </mat-grid-tile>
    <mat-grid-tile>
      <span class="grid-image" [style.backgroundImage]="'url('+ data.thumb +')'"></span>
    </mat-grid-tile>
  </mat-grid-list>
</div>